In [1]:
import pandas as pd
data =  pd.read_csv("./2022-04-16_game_reference.csv/2022-04-16_game_reference.csv")

In [2]:
data.head()

,game_id,name,boardgamedesigner,boardgameartist,yearpublished,minplayers,maxplayers,minage,playingtime,minplaytime,...,StrategyGameRank_max_date,ThematicRank_min,ThematicRank_min_date,ThematicRank_max,ThematicRank_max_date,WarGameRank_min,WarGameRank_min_date,WarGameRank_max,WarGameRank_max_date,bgg_url
0,174430,Gloomhaven,['Isaac Childres'],"['Alexandr Elichev', 'Josh T. McDowell', 'Alva...",2017,1,4,14,120,60,...,2018-10-06,1.0,2018-10-06,1.0,2018-10-06,NaN,NaN,NaN,NaN,https://boardgamegeek.com/boardgame/174430
1,161936,Pandemic Legacy: Season 1,"['Rob Daviau', 'Matt Leacock']",['Chris Quilliams'],2015,2,4,13,60,60,...,2021-06-05,2.0,2018-10-06,2.0,2018-10-06,NaN,NaN,NaN,NaN,https://boardgamegeek.com/boardgame/161936
2,224517,Brass: Birmingham,"['Gavan Brown', 'Matt Tolman', 'Martin Wallace']","['Lina Cossette', 'David Forest', 'Damien Mamm...",2018,2,4,14,120,60,...,2018-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://boardgamegeek.com/boardgame/224517
3,167791,Terraforming Mars,['Jacob Fryxelius'],['Isaac Fryxelius'],2016,1,5,12,120,120,...,2021-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://boardgamegeek.com/boardgame/167791
4,291457,Gloomhaven: Jaws of the Lion,['Isaac Childres'],"['Francesca Baerald', 'David Demaret', 'Alexan...",2020,1,4,14,120,30,...,2020-06-27,3.0,2021-02-27,17.0,2020-09-05,NaN,NaN,NaN,NaN,https://boardgamegeek.com/boardgame/291457

In [3]:
extract_feature = pd.DataFrame(data,columns=["game_id","minplayers","maxplayers","minage","playingtime","minplaytime","maxplaytime"])

In [4]:
extract_feature.isnull().sum()

game_id        0
minplayers     0
maxplayers     0
minage         0
playingtime    0
minplaytime    0
maxplaytime    0
dtype: int64

In [5]:
extract_feature["ID"]=extract_feature["game_id"]

In [6]:
extract_feature.head()

,game_id,minplayers,maxplayers,minage,playingtime,minplaytime,maxplaytime,ID
0,174430,1,4,14,120,60,120,174430
1,161936,2,4,13,60,60,60,161936
2,224517,2,4,14,120,60,120,224517
3,167791,1,5,12,120,120,120,167791
4,291457,1,4,14,120,30,120,291457

In [7]:
data_or = pd.read_csv("./archive/2022-01-08.csv")
data_or.head()
df=data_or.sort_values('Rank',ascending=True)
df=df.iloc[0:500,:]
df.head(100)

,Unnamed: 0,ID,Name,Year,Rank,Average,Bayes average,Users rated,URL,Thumbnail
26,0,174430,Gloomhaven,2017,1,8.74,8.511,47827,/boardgame/174430/gloomhaven,https://cf.geekdo-images.com/sZYp_3BTDGjh2unaZ...
28,1,161936,Pandemic Legacy: Season 1,2015,2,8.59,8.442,45041,/boardgame/161936/pandemic-legacy-season-1,https://cf.geekdo-images.com/-Qer2BBPG7qGGDu6K...
98,2,224517,Brass: Birmingham,2018,3,8.66,8.418,25484,/boardgame/224517/brass-birmingham,https://cf.geekdo-images.com/x3zxjr-Vw5iU4yDPg...
7,3,167791,Terraforming Mars,2016,4,8.42,8.274,74216,/boardgame/167791/terraforming-mars,https://cf.geekdo-images.com/wg9oOLcsKvDesSUdZ...
199,4,233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.262,16025,/boardgame/233078/twilight-imperium-fourth-edi...,https://cf.geekdo-images.com/_Ppn5lssO5OaildSE...
...,...,...,...,...,...,...,...,...,...,...
325,95,281259,The Isle of Cats,2019,96,7.92,7.529,11116,/boardgame/281259/isle-cats,https://cf.geekdo-images.com/AuAheDzhkLufiZFE9...
203,96,144733,Russian Railroads,2013,97,7.76,7.528,15840,/boardgame/144733/russian-railroads,https://cf.geekdo-images.com/B0oEVgeqs4_rT8oyb...
92,97,42,Tigris & Euphrates,1997,98,7.70,7.525,26149,/boardgame/42/tigris-euphrates,https://cf.geekdo-images.com/soAzNVWglCdVBacNj...
236,98,225694,Decrypto,2018,99,7.79,7.516,14481,/boardgame/225694/decrypto,https://cf.geekdo-images.com/hHZWXnUTMYDd_KTAM...
207,99,102680,Trajan,2011,100,7.76,7.512,15574,/boardgame/102680/trajan,https://cf.geekdo-images.com/djdeCr__iNV5rMnGn...

In [8]:
df1=df[ df.Year <=2019 ]
df1=df1[ df1.Year >=2000 ]
df1.shape

(435, 10)

In [9]:
df1.head()

,Unnamed: 0,ID,Name,Year,Rank,Average,Bayes average,Users rated,URL,Thumbnail
26,0,174430,Gloomhaven,2017,1,8.74,8.511,47827,/boardgame/174430/gloomhaven,https://cf.geekdo-images.com/sZYp_3BTDGjh2unaZ...
28,1,161936,Pandemic Legacy: Season 1,2015,2,8.59,8.442,45041,/boardgame/161936/pandemic-legacy-season-1,https://cf.geekdo-images.com/-Qer2BBPG7qGGDu6K...
98,2,224517,Brass: Birmingham,2018,3,8.66,8.418,25484,/boardgame/224517/brass-birmingham,https://cf.geekdo-images.com/x3zxjr-Vw5iU4yDPg...
7,3,167791,Terraforming Mars,2016,4,8.42,8.274,74216,/boardgame/167791/terraforming-mars,https://cf.geekdo-images.com/wg9oOLcsKvDesSUdZ...
199,4,233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.262,16025,/boardgame/233078/twilight-imperium-fourth-edi...,https://cf.geekdo-images.com/_Ppn5lssO5OaildSE...

In [10]:
extract_feature=extract_feature.drop('game_id',axis=1)

extract_feature.head()

,minplayers,maxplayers,minage,playingtime,minplaytime,maxplaytime,ID
0,1,4,14,120,60,120,174430
1,2,4,13,60,60,60,161936
2,2,4,14,120,60,120,224517
3,1,5,12,120,120,120,167791
4,1,4,14,120,30,120,291457

In [11]:
newdata=pd.merge(df1,extract_feature,on="ID")

In [12]:
newdata.head()

,Unnamed: 0,ID,Name,Year,Rank,Average,Bayes average,Users rated,URL,Thumbnail,minplayers,maxplayers,minage,playingtime,minplaytime,maxplaytime
0,0,174430,Gloomhaven,2017,1,8.74,8.511,47827,/boardgame/174430/gloomhaven,https://cf.geekdo-images.com/sZYp_3BTDGjh2unaZ...,1,4,14,120,60,120
1,1,161936,Pandemic Legacy: Season 1,2015,2,8.59,8.442,45041,/boardgame/161936/pandemic-legacy-season-1,https://cf.geekdo-images.com/-Qer2BBPG7qGGDu6K...,2,4,13,60,60,60
2,2,224517,Brass: Birmingham,2018,3,8.66,8.418,25484,/boardgame/224517/brass-birmingham,https://cf.geekdo-images.com/x3zxjr-Vw5iU4yDPg...,2,4,14,120,60,120
3,3,167791,Terraforming Mars,2016,4,8.42,8.274,74216,/boardgame/167791/terraforming-mars,https://cf.geekdo-images.com/wg9oOLcsKvDesSUdZ...,1,5,12,120,120,120
4,4,233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.262,16025,/boardgame/233078/twilight-imperium-fourth-edi...,https://cf.geekdo-images.com/_Ppn5lssO5OaildSE...,3,6,14,480,240,480

In [13]:
newdata.shape

(435, 16)

In [14]:
newdata.isnull().sum()

Unnamed: 0       0
ID               0
Name             0
Year             0
Rank             0
Average          0
Bayes average    0
Users rated      0
URL              0
Thumbnail        0
minplayers       0
maxplayers       0
minage           0
playingtime      0
minplaytime      0
maxplaytime      0
dtype: int64

In [15]:
data_add = pd.read_excel("./archive/Board_Games.xlsx/Board_Games.xlsx")
data_add=data_add.dropna(subset=["ID"])
data_add.isnull().sum()

ID                        0
Name                      0
Year Published            0
Min Players               0
Max Players               0
Play Time                 0
Min Age                   0
Users Rated               0
Rating Average            0
BGG Rank                  0
Complexity Average        0
Owned Users               7
Mechanics              1582
Domains               10143
dtype: int64

In [16]:
data_add.loc[:,["ID"]]=data_add.loc[:,["ID"]].astype('int')

In [17]:
data_add.head()

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
0,174430,Gloomhaven,2017.0,1,4,120,14,42055,8.79244,1,3.8604,68323.0,"Action Queue, Action Retrieval, Campaign / Bat...","Strategy Games, Thematic Games"
1,161936,Pandemic Legacy: Season 1,2015.0,2,4,60,13,41643,8.61278,2,2.8405,65294.0,"Action Points, Cooperative Game, Hand Manageme...","Strategy Games, Thematic Games"
2,224517,Brass: Birmingham,2018.0,2,4,120,14,19217,8.66337,3,3.9129,28785.0,"Hand Management, Income, Loans, Market, Networ...",Strategy Games
3,167791,Terraforming Mars,2016.0,1,5,120,12,64864,8.43254,4,3.2406,87099.0,"Card Drafting, Drafting, End Game Bonuses, Han...",Strategy Games
4,233078,Twilight Imperium: Fourth Edition,2017.0,3,6,480,14,13468,8.69649,5,4.2219,16831.0,"Action Drafting, Area Majority / Influence, Ar...","Strategy Games, Thematic Games"

In [18]:
data_add.shape

(20327, 14)

In [19]:
extract_feature = pd.DataFrame(data_add,columns=["ID","Complexity Average","Domains"])

In [20]:
newdata=pd.merge(newdata,extract_feature,on="ID")

In [21]:
newdata.shape

(435, 18)

In [22]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 434
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          435 non-null    int64
 1   ID                  435 non-null    int64
 2   Name                435 non-null    object
 3   Year                435 non-null    int64
 4   Rank                435 non-null    int64
 5   Average             435 non-null    float64
 6   Bayes average       435 non-null    float64
 7   Users rated         435 non-null    int64
 8   URL                 435 non-null    object
 9   Thumbnail           435 non-null    object
 10  minplayers          435 non-null    int64
 11  maxplayers          435 non-null    int64
 12  minage              435 non-null    int64
 13  playingtime         435 non-null    int64
 14  minplaytime         435 non-null    int64
 15  maxplaytime         435 non-null    int64
 16  Complexity Average  435 non-null    float64
 17  Domains             435 non-null    object
dtypes: float64(3), int64(11), object(4)
memory usage: 64.6+ KB

In [33]:
data =  pd.read_csv("./archive/games_detailed_info.csv")
data.head()

C:\Users\beomgi_so\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (29,48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,type,id,thumbnail,image,primary,alternate,description,yearpublished,minplayers,...,War Game Rank,Customizable Rank,Children's Game Rank,RPG Item Rank,Accessory Rank,Video Game Rank,Amiga Rank,Commodore 64 Rank,Arcade Rank,Atari ST Rank
0,0,boardgame,30549,https://cf.geekdo-images.com/S3ybV1LAp-8SnHIXL...,https://cf.geekdo-images.com/S3ybV1LAp-8SnHIXL...,Pandemic,"['EPIZOotic', 'Pandemia', 'Pandemia 10 Anivers...","In Pandemic, several virulent diseases have br...",2008,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,boardgame,822,https://cf.geekdo-images.com/okM0dq_bEXnbyQTOv...,https://cf.geekdo-images.com/okM0dq_bEXnbyQTOv...,Carcassonne,"['Carcassonne Jubilee Edition', 'Carcassonne: ...",Carcassonne is a tile-placement game in which ...,2000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,boardgame,13,https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ...,https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ...,Catan,"['CATAN', 'Catan (Колонизаторы)', 'Catan telep...","In CATAN (formerly The Settlers of Catan), pla...",1995,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,boardgame,68448,https://cf.geekdo-images.com/RvFVTEpnbb4NM7k0I...,https://cf.geekdo-images.com/RvFVTEpnbb4NM7k0I...,7 Wonders,"['7 csoda', '7 Cudów Świata', '7 divů světa', ...",You are the leader of one of the 7 great citie...,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,boardgame,36218,https://cf.geekdo-images.com/j6iQpZ4XkemZP07HN...,https://cf.geekdo-images.com/j6iQpZ4XkemZP07HN...,Dominion,"['Dominion: Basisspiel', 'Dominion: In naam va...","&quot;You are a monarch, like your parents bef...",2008,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
extract_feature = pd.DataFrame(data,columns=["id","image","description"])
extract_feature["ID"]=extract_feature["id"]
extract_feature=extract_feature.drop('id',axis=1)
)

In [37]:
extract_feature.head()
newdata=pd.merge(newdata,extract_feature,on="ID")

In [39]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 434
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          435 non-null    int64
 1   ID                  435 non-null    int64
 2   Name                435 non-null    object
 3   Year                435 non-null    int64
 4   Rank                435 non-null    int64
 5   Average             435 non-null    float64
 6   Bayes average       435 non-null    float64
 7   Users rated         435 non-null    int64
 8   URL                 435 non-null    object
 9   Thumbnail           435 non-null    object
 10  minplayers          435 non-null    int64
 11  maxplayers          435 non-null    int64
 12  minage              435 non-null    int64
 13  playingtime         435 non-null    int64
 14  minplaytime         435 non-null    int64
 15  maxplaytime         435 non-null    int64
 16  Complexity Average  435 non-null    float64
 17  Domains             435 non-null    object
 18  image               435 non-null    object
 19  description         435 non-null    object
dtypes: float64(3), int64(11), object(6)
memory usage: 71.4+ KB

In [40]:
# 추천시스템 
# content 기반 cosin similarty를 이용해서 만들어보자.
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity
new_df=pd.read_csv('new_data_process')

In [43]:
new_df.shape
data_re = pd.read_csv("./archive/bgg-15m-reviews.csv")

In [44]:
data_re[data_re.ID == df1.ID.iloc[1]]

,Unnamed: 0,user,rating,comment,ID,name
2893,2893,Slyght,10.0,My rating was made previous to all the ratings...,161936,Pandemic Legacy: Season 1
2894,2894,Dante_Dark,10.0,NaN,161936,Pandemic Legacy: Season 1
2895,2895,belial1134,10.0,NaN,161936,Pandemic Legacy: Season 1
2896,2896,ashman,10.0,NaN,161936,Pandemic Legacy: Season 1
2897,2897,Cheesechick,10.0,Disclaimer: I am a Pandemic nut. Pandemic is o...,161936,Pandemic Legacy: Season 1
...,...,...,...,...,...,...
3104329,3104329,Gex_6,1.0,NaN,161936,Pandemic Legacy: Season 1
3104330,3104330,KuRiCobbY,1.0,NaN,161936,Pandemic Legacy: Season 1
3104331,3104331,Kettary,1.0,NaN,161936,Pandemic Legacy: Season 1
3104332,3104332,kortoridon,1.0,NaN,161936,Pandemic Legacy: Season 1
3104333,3104333,Jonboyz,1.0,NaN,161936,Pandemic Legacy: Season 1

In [53]:
df=pd.DataFrame(new_df,columns=["user","ID","rating","name"])
df=df.dropna()
df["user"] = LabelEncoder().fit_transform(df["user"])

In [54]:
game_user_rating=df.pivot_table('rating',index='ID',columns='user')

In [55]:
game_user_rating.head()

user,0,1,2,3,4,5,6,7,8,9,...,289738,289739,289740,289741,289742,289743,289744,289745,289746,289747
ID,,,,,,,,,,,,,,,,,,,,,
475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,NaN,NaN,9.0,6.0,NaN,6.0,7.0,9.0,NaN,7.5,...,NaN,NaN,6.0,NaN,NaN,NaN,7.0,5.0,NaN,6.0
555,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,8.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.3,NaN,NaN
760,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
822,NaN,NaN,10.0,7.0,NaN,4.0,9.0,NaN,NaN,7.0,...,NaN,NaN,10.0,NaN,7.0,NaN,7.0,7.0,NaN,7.0

In [56]:
game_user_rating.fillna(0,inplace=True)

In [57]:
similarity_rate = cosine_similarity(game_user_rating,game_user_rating)
print(similarity_rate)

[[1.         0.26336964 0.46042139 ... 0.04597716 0.09373475 0.08899741]
 [0.26336964 1.         0.3532273  ... 0.09100539 0.13129892 0.09887311]
 [0.46042139 0.3532273  1.         ... 0.05821424 0.10554665 0.08584166]
 ...
 [0.04597716 0.09100539 0.05821424 ... 1.         0.17058475 0.10355458]
 [0.09373475 0.13129892 0.10554665 ... 0.17058475 1.         0.1979301 ]
 [0.08899741 0.09887311 0.08584166 ... 0.10355458 0.1979301  1.        ]]

In [58]:
similarity_rate_df=df = pd.DataFrame(
data=similarity_rate,
index = game_user_rating.index,
columns=game_user_rating.index)

In [59]:
similarity_rate_df.head()

ID,475,478,555,760,822,2651,2655,3076,4098,5404,...,274960,276025,281259,282524,283355,283948,284083,285774,286096,287954
ID,,,,,,,,,,,,,,,,,,,,,
475,1.000000,0.263370,0.460421,0.267453,0.211503,0.285484,0.220069,0.292770,0.366989,0.495012,...,0.091830,0.104901,0.055745,0.043880,0.033361,0.080289,0.111352,0.045977,0.093735,0.088997
478,0.263370,1.000000,0.353227,0.299049,0.463769,0.452461,0.353057,0.471317,0.237659,0.280953,...,0.118591,0.107551,0.071395,0.069318,0.057044,0.070258,0.122144,0.091005,0.131299,0.098873
555,0.460421,0.353227,1.000000,0.288278,0.287764,0.398615,0.260496,0.424799,0.394607,0.459876,...,0.092110,0.118224,0.055686,0.042961,0.033929,0.080604,0.109560,0.058214,0.105547,0.085842
760,0.267453,0.299049,0.288278,1.000000,0.284974,0.305456,0.313491,0.299320,0.251173,0.272500,...,0.117111,0.091941,0.069504,0.073100,0.045675,0.056380,0.115249,0.070965,0.106146,0.092589
822,0.211503,0.463769,0.287764,0.284974,1.000000,0.475941,0.373789,0.498303,0.211220,0.228324,...,0.147923,0.124605,0.101785,0.104408,0.067266,0.074308,0.151330,0.109691,0.166064,0.133532

In [60]:
def recommand_game(id):
    return similarity_rate_df[id].sort_values(ascending=False)[1:6]

In [63]:
a=recommand_game(475)

In [73]:
print(a.index)

Int64Index([5404, 555, 9216, 25554, 9217], dtype='int64', name='ID')

In [181]:
c= {}
for i in range(len(df)):
#for i in range(10):
    a=df.index[i]
    b=recommand_game(a).index.values
    c[i] = {a : b}

In [182]:
d1 = pd.concat({k: pd.Series(v) for k, v in c.items()}).reset_index()
d1.columns = ['mo', 'ID','RecommendID']

In [184]:
extract_feature = pd.DataFrame(d1,columns=["ID","RecommendID"])
extract_feature.head()
newdata=pd.merge(newdata,extract_feature,on="ID")

In [187]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 434
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          435 non-null    int64
 1   ID                  435 non-null    int64
 2   Name                435 non-null    object
 3   Year                435 non-null    int64
 4   Rank                435 non-null    int64
 5   Average             435 non-null    float64
 6   Bayes average       435 non-null    float64
 7   Users rated         435 non-null    int64
 8   URL                 435 non-null    object
 9   Thumbnail           435 non-null    object
 10  minplayers          435 non-null    int64
 11  maxplayers          435 non-null    int64
 12  minage              435 non-null    int64
 13  playingtime         435 non-null    int64
 14  minplaytime         435 non-null    int64
 15  maxplaytime         435 non-null    int64
 16  Complexity Average  435 non-null    float64
 17  Domains             435 non-null    object
 18  image               435 non-null    object
 19  description         435 non-null    object
 20  RecommendID         435 non-null    object
dtypes: float64(3), int64(11), object(7)
memory usage: 74.8+ KB

In [189]:
newdata.to_json('dataset.json', orient='table')